<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <%- include('layout') %>
    <%- include('css') %>
    <p> chanisara uttamawetin</p>
    <a href="/products" >products</a><br>
    <a href="/blog" >blog</a><br> 
    <!-- /blog คือ flie blog.js ที่ router -->
  </p>
  <p>
    <%= data %>
  </p>
  <%- include('footer') %>
  </body>
</html>


</head>
<body>
